.presentation {
    min-width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    &__text {
        text-align: center;

        &--heading {
            font-family: var(--font-heading);
            font-size: var(--font-size-heading);
            border-bottom: 2px dashed #000;
            margin-bottom: 1.7rem;
        }
        &--paragraph {
            font-family: var(--font-text);
            font-size: 1.7rem;
        }
    }

    &__languages {
        font-size: 2rem;

        i {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:nth-child(1) {
                color: #dd4b25;
            }
            //css
            &:nth-child(2) {
                color: #254bdd;
            }
            //js
            &:nth-child(3) {
                color: #c5b62d;
            }
            //sass
            &:nth-child(4) {
                color: #c26191;
            }
        }
    }
}
