.brazil__gradient {
    font-weight: bold;
    background: linear-gradient(to right, #009638, #e0c600);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* .skills_gradient {
    background: linear-gradient(to right, rgba(48, 0, 145, 1), rgba(78, 59, 135, 1));

    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
 */
