:root {
    // color
    --color-black: #000;
    --color-grey: #272727;
    --color-background: #fffff4;

    // fonts
    --font-heading: "DM Serif Display", serif;
    --font-text: "DM Sans", sans-serif;

    // font-size
    --font-size-heading: clamp(2rem, 6rem, 7rem);
}
